
<div class="container mt-3">
    <div class="shadow-lg p-3 mb-5 bg-primary rounded text-center"><h1>BIENVENIDO</h1></div>
    <div class="row mt-4">
        <div class="col-md-12" >
     
        </div>
    </div>
</div>