<div class="container mt-4">
    <div class="row">
      <div class="col-sm-8 mb-2">
            <div class="card">
                <div class="card-header">
                    Productos
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="exampleFormControlInput1" class="form-label">Buscar Producto</label>
                            <input type="text" class="form-control form-control-sm" id="buscarProducto" data-idproducto="0" />
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>