@model Api.Web.WebApi.DTO.Response.ListCategoriasResponseDTO

@if (Model.Result.IsOK())
{
    <div class="row  justify-content-end">
        <div class="col-12">
            <form class="row gy-2 gx-3  justify-content-end">
                <div class="col-auto">
                    <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                    <div class="input-group">
                        <div class="input-group-text">@@</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Activo</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oItem in Model.Items)
                    {
                        <tr>
                            <td>
                                @oItem.IdCategoria
                            </td>
                            <td>
                                @oItem.Descripcion
                            </td>

                            @if (oItem.Activo == false)
                            {
                                <td>
                                    <span class=""><i title="Inactivo" class="fa fa-times-circle" style="color:red" aria-hidden="true"></i></span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class=""><i title="Activo" class="fa fa-check-circle" style="color:green" aria-hidden="true"></i></span>
                                </td>
                            }
                            <td>
                                <a href="#" onclick="OpenMdlEdit(this)" title="Agregar Producto">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" onclick="RemoveCategory(this);" title="Eliminar producto">
                                    <i class="fa fa-times-circle" style="color:red" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <p class="color-danger" style="text-align:center;"><b>@String.Join(",", Model.Result.Errors.Select(x => x.Message.ToString()))</b></p>

            </div>
        </div>
    </div>
}