@model Api.Web.WebApi.DTO.Response.ListCategoriasResponseDTO

@if (Model.Result.IsOK())
{
    <div class="row  justify-content-end">
        <div class="col-12">
            <form class="row gy-2 gx-3  justify-content-end">
                <div class="col-auto">
                    <label class="visually-hidden" for="FilterTable">Search</label>
                    <div class="input-group">
                        <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input spellcheck="false" type="text" class="form-control" id="FilterTable" placeholder="Username">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table table-hover" id="tblCategorias">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Activo</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oItem in Model.Items)
                    {
                        <tr>
                            <td>
                                @oItem.IdCategoria
                            </td>
                            <td>
                                @oItem.Descripcion
                            </td>

                            @if (oItem.Activo == false)
                            {
                                <td>
                                    <span class=""><i title="Inactivo" class="fa fa-times-circle" style="color:red" aria-hidden="true"></i></span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class=""><i title="Activo" class="fa fa-check-circle" style="color:green" aria-hidden="true"></i></span>
                                </td>
                            }
                            @if (!oItem.Activo)
                            {
                               

                                <td>
                                    <button class="btn btn-outline-info" onclick="OpenMdlEdit(this)" title="Editar Producto" disabled>
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </td>

                                <td>
                                    <button onclick="RemoveCategory(this);" class="btn btn-outline-danger" title="Eliminar producto" disabled>
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <button class="btn btn-outline-info" onclick="OpenMdlEdit(this)" title="Editar Producto">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </td>

                                <td>
                                    <button onclick="RemoveCategory(this);" class="btn btn-outline-danger" title="Eliminar producto">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            }
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <p class="color-danger" style="text-align:center;"><b>@String.Join(",", Model.Result.Errors.Select(x => x.Message.ToString()))</b></p>

            </div>
        </div>
    </div>
}